n8n/workflows/document_manual_ingest.json
{
  "name": "Document Manual NAS Ingest",
  "nodes": [
    {
      "id": "1",
      "name": "Folder Trigger",
      "type": "n8n-nodes-base.localFileTrigger",
      "typeVersion": 1,
      "position": [
        260,
        280
      ],
      "parameters": {
        "path": "/data/incoming/manual"
      }
    },
    {
      "id": "2",
      "name": "Ingest",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        540,
        280
      ],
      "parameters": {
        "method": "POST",
        "url": "={{$env.INTERNAL_API_BASE_URL || 'http://api:8080'}}/internal/documents/ingest",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Token",
              "value": "={{$env.INTERNAL_API_TOKEN}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"source_path\":\"{{$json.path}}\",\"source_kind\":\"manual\",\"source_name\":\"{{$json.name}}\"}"
      }
    },
    {
      "id": "3",
      "name": "OCR",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        800,
        280
      ],
      "parameters": {
        "method": "POST",
        "url": "={{$env.INTERNAL_API_BASE_URL || 'http://api:8080'}}/internal/documents/{{$json.document_id}}/ocr",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Token",
              "value": "={{$env.INTERNAL_API_TOKEN}}"
            }
          ]
        }
      }
    }
  ],
  "connections": {
    "Folder Trigger": {
      "main": [
        [
          {
            "node": "Ingest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ingest": {
      "main": [
        [
          {
            "node": "OCR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false
}
