n8n/workflows/document_email_ingest.json
{
  "name": "Document Email Ingest",
  "nodes": [
    {
      "id": "1",
      "name": "IMAP Trigger",
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "parameters": {
        "format": "resolved",
        "options": {
          "downloadAttachments": true
        }
      }
    },
    {
      "id": "2",
      "name": "Ingest Document",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        520,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "={{$env.INTERNAL_API_BASE_URL || 'http://api:8080'}}/internal/documents/ingest",
        "authentication": "genericCredentialType",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Token",
              "value": "={{$env.INTERNAL_API_TOKEN}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"source_path\":\"{{$json.attachmentPath}}\",\"source_kind\":\"email\",\"source_name\":\"{{$json.subject}}\",\"metadata\":{\"from\":\"{{$json.from?.text}}\",\"subject\":\"{{$json.subject}}\"}}"
      }
    },
    {
      "id": "3",
      "name": "Run OCR",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        800,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "={{$env.INTERNAL_API_BASE_URL || 'http://api:8080'}}/internal/documents/{{$json.document_id}}/ocr",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Token",
              "value": "={{$env.INTERNAL_API_TOKEN}}"
            }
          ]
        }
      }
    }
  ],
  "connections": {
    "IMAP Trigger": {
      "main": [
        [
          {
            "node": "Ingest Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ingest Document": {
      "main": [
        [
          {
            "node": "Run OCR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}
